APP_NAME=Mo² LOG
APP_ENV=development
APP_VERSION=1.4.0

DATABASE_URL=postgresql://postgres:postgres@db:5432/mo2log

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=mo2log
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

FRONTEND_ORIGIN=http://localhost:5173

# Strava OAuth
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:8000/api/v1/auth/strava/callback
STRAVA_SCOPE=read,activity:read
