APP_NAME=Mo² LOG
APP_ENV=development
APP_VERSION=1.0.0

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=mo2log
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@db:5432/mo2log

STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=
